@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

#project {
  background: linear-gradient(-45deg, #ebebeb, #c8c8c8, #fff9ec, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}

#top {
  background-image: url("topbg.jpg"), url("topbg-lowres.jpg");
  background-size: cover, cover;
}
